<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        Plantilla en MVC, con BOOTSTRAP 3
      {% endblock %}
    </title>
 
    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

    <!-- CSS de SCEditor -->
    <link rel="stylesheet" href="sceditor/minified/themes/office.min.css" />
  </head>
  <body>
    
    <section class="container">
      
      <header>
      {% block encabezado %}
        <h1>Hola desde el encabezado de las entradas</h1>
        <hr>
      {% endblock %}
      </header>
      
      <nav>
        <a href="index.html">Ver productos</a>
        -
        <a href="blog.html">Ver noticias del blog</a>
        -
        <a href="categorias.html">Ver categorias del blog</a>
        -
        <a href="centros-deportivos.html">Ver centros del blog</a>
      </nav>

      <section>
        <header>
          <h2>
          {% block titulo_contenido %}
              Seccion de 
          {% endblock %}
          </h2>
        </header>
        <section>
        {% block contenido %}
          AQUI VA EL CONTENIDO
        {% endblock %}
        </section>
      </section>

      <footer>
      {% block pie %}
        <hr>
        <h4>Todos los derechos reservados</h4>
      {% endblock %}
      </footer>

    </section>
    
    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="js/jquery-3.3.1.min.js"></script>
 
    <!-- Todos los plugins JavaScript de Bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Queda puesto el wysiwyg sceditor -->
    <script src="sceditor/minified/sceditor.min.js"></script>
    <script src="sceditor/minified/formats/bbcode.min.js"></script>
    <script src="sceditor/languages/es.js"></script>
    <script>
      var textarea = document.getElementById('descripcion');
      sceditor.create(textarea, {
        format: 'bbcode'
      });
    </script>
  </body>
</html>