{% extends 'base.html.twig' %}

{% block titulo_contenido %}
	{{ parent() }}
	<small>categorias de mi blog</small>    
	<hr>
	<small>
	<a href="index.php?c=categoriasController.php&accion=insertar">
		Nuevo elemento
	</a>
	</small>
	<hr>
{% endblock %}

{% block contenido %}
	<table class="table table-striped">
		<tr>
			<th>Nombre de la categoria</th>
		</tr>

		{% for categoria in categorias %}
		<tr>
			<td>
				<a href="index.php?c=categoriasController.php&id={{ categoria.id }}&accion=ver">
					{{ categoria.nombre }}
				</a>
				-
				<a href="index.php?c=categoriasController.php&id={{ categoria.id }}&accion=borrar">Borrar</a>
				-
				<a href="index.php?c=categoriasController.php&id={{ categoria.id }}&accion=modificar">Modificar</a>
			</td>
		</tr>
		{% endfor %}
		
	</table>
{% endblock %}