{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>Centros deportivos</small>    
{% endblock %}

{% block contenido %}
	<table class="table table-striped">
		<tr>
			<th>Nombre</th>
			<th>Direccion</th>
		</tr>

		{% for elcentro in loscentros %}
		<tr>
			<td>
				<a href="index.php?c=deportivosController.php&id={{ elcentro.id }}">
				{{ elcentro.nombre }}
				</a>
			<td>
			<td>{{ elcentro.direccion }}</td>
		</tr>
		{% endfor %}
		
	</table>
{% endblock %}