{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>Centro deportivo</small>  
	<hr>  
{% endblock %}

{% block contenido %}
<h2>{{ elcentro.nombre }} - <small>{{ elcentro.direccion }}</small></h2>
	<div id="map" style="width: 100%; height:400px;"></div>
    <script>
      function initMap() {
        var myLatLng = {lat: {{ elcentro.latitud }}, lng: {{ elcentro.longitud }} };

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 13
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: 'Hello World!'
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDMY6Jd8y1Ff8HMBSU_CyUZCRFtL3CYns&callback=initMap"
        async defer></script>
{% endblock %}