{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>mostrando una unica entrada</small>    
{% endblock %}

{% block contenido %}
    
	<article>
		<header>
			<h3>{{ entrada.titulo }}</h3>
		</header>
		<section>
			{{ entrada.contenido }}
		</section>
		<footer>
			{{ entrada.fecha }} - {{ entrada.autor }}
		</footer>
	</article>

{% endblock %}