{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>mostrando un unico producto</small>    
{% endblock %}

{% block contenido %}
    
	<article>
		<header>
			<h3>{{ producto.nombre }} - {{ producto.categoria }}</h3>
		</header>
		<section>
			{{ producto.descripcion }}
		</section>
		<footer>
			{{ producto.fecha }} - {{ producto.precio }} - {{ producto.unidades }}
		</footer>
	</article>

{% endblock %}